<div class="container" ng-controller="cityCtrl as cityCtrl">
	<form ng-submit="cityCtrl.sendRequest()">
		<div class="form-group">
			<div class="row">
				<div class="col-md-2">
					<label class="control-label visible-ie8 visible-ie9">City Name: </label>
				</div>
				<div class="col-md-4">
					<input type="name" class="form-control" ng-model="cityCtrl.city.name" placeholder="City Name"></input>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" ng-click="cityCtrl.return()" class="btn">Back</button>
			<button type="submit" class="btn btn-success">Confirm</button>
		</div>
	</form>
	
</div>