<div class="container">
	<div class='panel panel-default' ng-controller="countyCtrl as countyCtrl">
		<div class='panel-heading'>
			<h2>County Manager</h2>
		</div>
		<div class='panel-body'>
			<div class="row">
				<div class="col-md-2">Choose a county:</div>
				<div class="col-md-4">
					<label class="control-label visible-ie8 visible-ie9">County</label> 
					<select ng-model="countyCtrl.selectedCounty">
						<option value="">Choose</option>
						<option ng-repeat="county in counties"
							value="{{county.id}}">
							{{county.name}}
						</option>
					</select>
				</div>
			</div>
			<div ng-if="countyCtrl.selectedCounty">
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group">
							<button id="sample_editable_1_new" class="btn btn-success btn-sm" ng-click="countyCtrl.newCity(countyCtrl.selectedCounty)">
								<i class="fa fa-plus"></i> Add new city 
							</button>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover" >
					<thead>
						<tr>
							<th>Name</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="city in countyCtrl.cities">
							<td>{{city.name}}</td>
							<td>
								<button id="sample_editable_1_new" class="btn btn-default btn-sm" ng-click="countyCtrl.editCity(city.id, city.name)">
									<i class="fa fa-cog"></i> Edit
								</button>
							</td>
							<td>
								<button id="sample_editable_1_new" class="btn btn-default btn-sm" ng-click="countyCtrl.deleteCity(city.id)">
									<i class="fa fa-trash"></i> Delete 
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>