<div class="container">
	<div class='panel panel-default' ng-controller="mainCtrl as mainCtrl">
		<div class='panel-heading'>
			<h2>Welcome to my County Manager app</h2>
	</div>
		<div class='panel-body'>
			<p>This project is made, to be of help managing a little country's city structure.<br>
			To use this application you need a mysql database running on the same server.</p>
		</div>
	</div>
</div>